<!--
* Project: NodeJS-Master-Class
* Author: Le Hai Diep(dieple)
* Date-Time: 16/02/2019-10:18
*-->
<div class="login">
	<div class="form-wrapper">
		<div class="title">
			Login
		</div>
		<form action="/login" method="post">
			<div class="error">
				@{data.error}
			</div>
			<div class="input-wrapper">
				<div class="label">
					<label for="email">Email</label>
				</div>
				<input type="text" name="email" id="email" class="input email" placeholder="Email" autocomplete="new-email">
			</div>
			<div class="input-wrapper">
				<div class="label">
					<label for="password">Password</label>
				</div>
				<input type="password" name="password" id="password" class="input password" autocomplete="new-password">
			</div>
			<div class="btn-area">
				<div class="create-account">
					<a href="/account/create">Create new account</a>
				</div>
				<div class="input-wrapper">
					<button type="submit" class="btn btn-submit">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>